@charset "UTF-8";

* {
	border-radius: 5px;
}
#main {
	border: 1px solid;
	margin: 30%;
	padding: 10px;
}

#user_logout {
	text-align: right;
}

h1 {
	text-align: center;
}

.input {
	width: 99%;
	height: 20px;
	border: 1px solid;
	border-color: silver;
}
#write_btn {
	border: 0;
	color: white;
	background-color: deepskyblue;
	padding: 10px;
}
#reset_btn {
	border: 0;
	color: white;
	background-color: gray;
	padding: 10px;
}
#list_btn {
	border: 0;
	color: white;
	background-color: lightcoral;
	padding: 10px;
}
#buttons {
	text-align: center;
}

#textarea {
	height: 400px;
}